<div *ngIf="visible;else notEnable">
  <h2> {{title}} </h2>
</div>
<button (click)="setVisible()">
 {{visible ? 'Ocultar':'Mostrar'}}
</button>

<div *ngIf="visible;">
<table *ngIf="(users != undefined && users.length > 0) else isEmpty ">
   <thead>
     <tr>
        <th>Nro</th>
        <th>name</th>
     </tr>
   </thead>
   <tbody>
       <tr *ngFor="let user of users; index as i">
         <td>{{i+1}}</td>
         <td>{{user}}</td>
       </tr>
   </tbody>
</table>
<ng-template #isEmpty>
  <div>
    <p> Disculpe,No existe registro en el sistema..</p>
  </div>
</ng-template>
</div>

<ng-template #notEnable>
  <h1>Lo sentimos esta pagina no esta disponible..!!</h1>
</ng-template>

